---
import Productlist from "./Productlist.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/css/base.css" />
    <link rel="stylesheet" href="src/css/style.css" />
    <title>FashionRUs</title>
  </head>

  <body>
    <header class="mainNav">
      <a href="#">
        <h1>Fashion<span>R</span>Us</h1>
      </a>
      <nav>
        <a href="#">Categories</a>
        <a href="#">Brands</a>
        <a href="#">Seasons</a>
      </nav>
    </header>
    <main>
      <h2>Categories</h2>
      <section class="categorylist">
        <a href="Productlist.astro">Accessories</a>
        <a href="Productlist.astro">Apparel</a>
        <a href="Productlist.astro">Footwear</a>
        <a href="Productlist.astro">Free Items</a>
        <a href="Productlist.astro">Personal Care</a>
        <a href="Productlist.astro">Sporting Goods</a>
      </section>
    </main>
  </body>
</html>
